*.onnx filter=lfs diff=lfs merge=lfs -text
xbot-android/app/src/main/assets/voice/sherpa-onnx-streaming-paraformer-bilingual-zh-en/decoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
xbot-android/app/src/main/assets/voice/sherpa-onnx-streaming-paraformer-bilingual-zh-en/encoder.int8.onnx filter=lfs diff=lfs merge=lfs -text
